* {
  margin: 0;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  width: 100vw;
  grid-area: header;
  background-color: #a6b37d;
  color: black;
  font-size: 32px;
}


.menu {
  width: 100vw;
  grid-area: menu;
  background-color: #c0c78c;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.nav-btn {
  border: 1px solid #a6b37d;
  border-radius: 10%;
  margin: 20px 3px 20px 3px;
  width: 18vw;
}

.slideshow {
  max-width: 80vw;
  max-height: 60vh;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  animation: slide 12s infinite;
}

.slides img {
  width: 70vw;
  height: 70vh;
  flex: 1 0 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

.main-title {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.main {
  width: 100vw;
  grid-area: main;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100vw;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #a6b37d;
  border-radius: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #a6b37d;
  font-size: 1.5rem;
}

.card {
  display: flex;
  border: 1px solid black;
  width: 70vw;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.card span {
  text-align: center;
}
.card button {
  width: 125px;
  background-color: #c0c78c;
  border: 1px solid black;
}

button:hover {
  background-color: black;
  color: white;
  cursor: grab;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 40vw;
  height: 40vh;
  border-radius: 5px;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.main-section .card-img {
  max-width: 320px;
}
#section-4 {
  width: 100vw;
}
.container-section {
  width: 30%;
  margin: 30px;
  text-align: center;
}

input {
max-width: 80px;
}

.card-img:hover {
  filter: invert(100%);
}


.footer {
  display: flex;
  width: 100vw;
  height: 12vh;
  grid-area: footer;
  background-color: #b99470;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: grid;
  overflow-x: hidden;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}

@media (min-width: 992px) {
  .main-container {
    display: grid;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 15vw, 85vw;
    grid-template-areas:
      "header header"
      "menu main"
      "footer footer";
  }
  .header {
    text-align: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .material-symbols-outlined {
    font-size: 40px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    z-index: 999;
  }

  .nav-btn {
    width: 8vw;
  }
  .main {
    width: 85vw;
    height: auto;
    margin-left: 15vw;
    padding-top: 15vh;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main-title{
    width: 60vw;
  }
  .card {
    width: 25vw;
    height: 50vh;
  }

  .card-img {
    width: 20vw;
    height: 20vh;
  }
  .main-section{
    width: 70vw;
  }
  .footer {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 900;
  }
}
