* {
  margin: 0;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
  width: 100vw;
  grid-area: header;
  background-color: #a6b37d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 32px;
}

.menu {
  width: 100vw;
  grid-area: menu;
  background-color: #c0c78c;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.nav-btn {
  border: 1px solid #a6b37d;
  border-radius: 10%;
  margin: 20px 10px 20px 10px;
  width: 80px;
}

.slideshow {
  max-width: 80vw;
  max-height: 60vh;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  animation: slide 12s infinite;
}

.slides img {
  width: 70vw;
  height: 70vh;
  flex: 1 0 100%;
}

@keyframes slide {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0%); }
}

.main-title {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.main {
  width: 100vw;
  grid-area: main;
  background-color: #fefae0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider-custom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100vw;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #a6b37d;
  border-radius: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #a6b37d;
  font-size: 1.5rem;
}

.card {
  display: flex;
  border: 1px solid black;
  width: 70vw;
  height: 50vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* padding: 5px; */
  margin-top: 20px;
}

.card span {
  text-align: center;
}
.card button {
  width: 125px;
  background-color: #c0c78c;
  border: 1px solid black;
}

button:hover {
  background-color: black;
  color: white;
  cursor: grab;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 40vw;
  height: 40vh;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.main-section span {
  width: 30%;
  margin: 30px;
}

.main-section form {
  margin: 0;
}
.card-img:hover {
    filter: invert(100%);
}

#placeholder {
  text-align: center;
  /* padding: 30px; */
}

.footer {
  width: 100vw;
  height: 5vh;
  grid-area: footer;
  background-color: #b99470;
  text-align: center;
}


.main-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}

@media (min-width: 992px) {
  
}
